{% extends "admin/admin.html" %}

{% block js %}
<!--播放页面-->
<script src=" {{url_for('static', filename='jwplayer/jwplayer.js')}}"></script>
<script type="text/javascript">
    jwplayer.key = "P9VTqT/X6TSP4gi/hy1wy23BivBhjdzVjMeOaQ==";

</script>
<script type="text/javascript">
    jwplayer("moviecontainer").setup({
        flashplayer: "{{url_for('static', filename='jwplayer.flash.swf')}}",
        playlist: [{
            file: "{{url_for('static', filename='video/htpy.mp4')}}",
            title: "环太平洋"
        }],
        modes: [{
            type: "html5"
        }, {
            type: "flash",
            src: "{{url_for('static', filename='jwplayer/jwplayer.flash.swf')}}"
        }, {
            type: "download"
        }],
        skin: {
            name: "vapor"
        },
        "playlist.position": "left",
        "playlist.size": 200,
        height: 250,
        width: 387,
    });

</script>
<script>
    $(document).ready(function(){
        $('#input_release_time').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
        });
    });
</script>
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>微电影管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 电影管理</a></li>
        <li class="active">添加电影</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加电影</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="input_title">片名</label>
                            <input type="text" class="form-control" id="input_title" placeholder="请输入片名！">
                        </div>
                        <div class="form-group">
                            <label for="input_url">文件</label>
                            <input type="file" id="input_url">
                            <div style="margin-top:5px;">
                                <div id="moviecontainer"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_info">介绍</label>
                            <textarea class="form-control" rows="8" cols="200" id="input_info"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="input_logo">封面</label>
                            <input type="file" id="input_logo">
                            <img data-src="holder.js/262x166" style="margin-top:5px;" class="img-responsive"
                                 alt="">
                        </div>
                        <div class="form-group">
                            <label for="input_area">演讲者</label>
                            <input type="text" class="form-control" id="input_speaker" placeholder="请输入演讲者！">
                        </div>
                        <div class="form-group">
                            <label for="input_info">演讲者介绍</label>
                            <textarea class="form-control" rows="8" cols="200" id="input_speaker_info"></textarea>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--内容-->
{% endblock %}