{% extends "admin/admin.html" %}

{% block content %}
<section class="content-header">
    <h1>TED+管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 视频管理</a></li>
        <li class="active">添加视频</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加电影</h3>
                </div>
                <form method="post" id="form-movie" enctype="multipart/form-data">
                    <div class="box-body">
                        {% with msgs = get_flashed_messages(category_filter=['ok']) %}
                                {% if msgs %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-check"></i> 成功!</h4>
                                        {% for msg in msgs %}
                                            <p>{{ msg }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}

                            {% with msgs = get_flashed_messages(category_filter=['err']) %}
                                {% if msgs %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-ban"></i> 失败!</h4>
                                        {% for msg in msgs %}
                                            <p>{{ msg }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}

                        <div class="form-group">
                            <label for="input_title">{{ form.title.label }}</label>
                            {{ form.title }}
                            {% for err in form.title.errors %}
                                <div class="col-md-12" style="color: red">{{ err }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_url">{{ form.url.label }}</label>
                            {{ form.url }}
                            {% for err in form.url.errors %}
                                <div class="col-md-12" style="color: red">{{ err }}</div>
                            {% endfor %}
                            <div style="margin-top:5px;">
                                <div id="moviecontainer"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_info">{{ form.info.label }}</label>
                            {{ form.info }}
                            {% for err in form.info.errors %}
                                <div class="col-md-12" style="color: red">{{ err }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_logo">{{ form.logo.label }}</label>
                            {{ form.logo }}
                        </div>
                        <div class="form-group">
                            <label for="input_speaker">{{ form.speaker.label }}</label>
                            {{ form.speaker }}
                            {% for err in form.speaker.errors %}
                                <div class="col-md-12" style="color: red">{{ err }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_speaker_info">{{ form.speaker_info.label }}</label>
                            {{ form.speaker_info }}
                            {% for err in form.speaker_info.errors %}
                                <div class="col-md-12" style="color: red">{{ err }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--内容-->
{% endblock %}