{% extends "admin/admin.html" %}

{% block content %}
<!--内容-->
<section class="content-header">
    <h1>TED+管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 视频管理</a></li>
        <li class="active">视频列表</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">视频列表</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                            {% with msgs = get_flashed_messages(category_filter=['ok']) %}
                                {% if msgs %}
                                    <div class="alert alert-success alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-check"></i> 成功!</h4>
                                        {% for msg in msgs %}
                                            <p>{{ msg }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}

                            {% with msgs = get_flashed_messages(category_filter=['err']) %}
                                {% if msgs %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4><i class="icon fa fa-ban"></i> 失败!</h4>
                                        {% for msg in msgs %}
                                            <p>{{ msg }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}

                    <table class="table table-hover" style="border-spacing: 100px 0px; border-collapse: separate">
                        <tbody>
                        <tr>
                            <th>片名</th>
                            <th>演讲者</th>
                            <th>操作事项</th>
                        </tr>
                        {% for v in data %}
                        <tr>
                            <td>{{ v.title }}</td>
                            <td>{{ v.speaker }}</td>
                            <td>
                                <a href="{{url_for('admin.movie_del', title=v.title)}}" class="label label-danger">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--内容-->
{% endblock %}